<form id="search" class="row" role="form">
    <div class="col-md-10">
        <input class="form-control input-lg" type="text" placeholder="OkCupid username" />
    </div>
    <div class="col-md-2">
        <button type="submit" class="form-control input-lg btn btn-primary">Search</button>
    </div>
</form>

<div id="results">
    <h2>Reviews from your friends</h2>
    <ul class="list-group list-unstyled"></ul>
    <h2>Leave a review</h2>
    <form id="yourreview">
        <textarea class="form-control"></textarea>
        <button type="submit" class="btn btn-success form-control"></button>
    </form>
</div>
