/**
 * Styles for Ok Creeper
 */
#results {
    display: none;
}

#yourreview textarea {
    margin-bottom: 10px;
}

.jumbotron {
    margin-top: 20px;
}

.btn-facebook {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #355089;
    background-image: -moz-linear-gradient(top, #3b5998, #2d4373);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#2d4373));
    background-image: -webkit-linear-gradient(top, #3b5998, #2d4373);
    background-image: -o-linear-gradient(top, #3b5998, #2d4373);
    background-image: linear-gradient(to bottom, #3b5998, #2d4373);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3B5998', endColorstr='#FF2D4373', GradientType=0);
    border-color: #2d4373 #2d4373 #17233c;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #2d4373;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-color: #1e2e4f;
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .btn-facebook.disabled, .btn-facebook[disabled] {
    color: white;
    background-color: #2d4373;
    *background-color: #263961; 
}

.btn-facebook:active, .btn-facebook.active {
    background-color: #1e2e4f \9;
}

.btn-facebook i.fa {
    margin-right: 10px
}
